# Python
venv/
__pycache__/
*.pyc
*.pyo
.env
*.db

# Data (too large for GitHub)
data/cms_codes/
data/bm25_index.pkl

# Node
medisight-ui/node_modules/
medisight-ui/build/

# Mac
.DS_Store

# Misc
Archive.zip
*.zip
